h1 {
    color: purple;
    font-family: "Arial";
    font-size: 60px;
    text-align: center;
}

h2 {
    color:green;
    font-size: 30px;
    text-decoration: underline;
}
h3 {
    font-size:20px;
    font-style: italic;
}
p {
    color:#444444;
    font-family: "돋움";
    font-size: 14px;
    line-height: 150%;
}
